#red{
    display:grid;
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
    gap: 10px;
    height: calc(90vh - 70px);
    box-sizing: border-box;
    background-color: black;
    }
#red button{
    font-size: 70px;
}

body{
    margin: 0%;
}
